Thumbs.db
.DS_Store
*.bak
*~
*.swp
node_modules
.idea/
.tmp/
coverage/
*.iml
.vs/
coverage-report.html
.vscode/
bmr-*.json
cmr-*.json
*.sqlite3
*.db
*.back
npm-debug.log
haul-debug.log
main.jsbundle
main.jsbundle.map
main.jsbundle.meta
.cache-loader

# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
lerna-debug.log
tsconfig.tmp.json
stats*.json
*.zip
.terraform/
bundle/
env-bundle/
ignore-randome-thingy
tsconfig.tsbuildinfo

.env